{% extends "layout.html" %} 

{% block body %}
<form role="form" action="/product/add" method="post">
  <div class="form-group">
    <label for="">名称</label>
    <input type="text" class="form-control" placeholder="请输入商品名称" name="prod_name">
  </div>
  <div class="form-group">
    <label for="">描述信息</label>
    <input type="text" class="form-control" placeholder="请输入商品描述信息" name="prod_description">
  </div>
  <div class="form-group">
    <label for="">商品价格</label>
    <input type="number" class="form-control" placeholder="请输入商品价格" name="prod_price">
  </div>
  <div class="form-group">
    <label for="">商品重量</label>
    <input type="number" class="form-control" placeholder="请输入商品重量" name="prod_weight">
  </div>
  <div class="form-group">
    <label for="">商品图片</label>
    <input type="file" name="prod_image">
    <p class="help-block">请上传商品图片.</p>
  </div>
  <button type="submit" class="btn btn-success">添加保存</button>
</form>
{% endblock %}

{% block script %}
<script>
  $('form').on('submit', function (e) {
    e.preventDefault()
    // 在这里去做表单基本验证
    $.ajax({
      url: '/api/product/add',
      type: 'post',
      // jQuery 中的表单序列化方法会自动将表单中具有name 的 input 提取为查询字符串的形式
      // data 参数可以指定一个查询字符串，也可以指定一个对象
      // 如果指定了查询字符串，则 jQuery 直接将查询字符串放到请求中发送
      // 如果指定了对象，则 jQuery 帮你再把对象转为 查询字符串然后发起请求
      data: $(this).serialize(),
      dataType: 'json',
      success: function (data) {
        var code = data.code
        if (code === 2000) {
          // 客户端跳转，取决于前端开发工程师
          window.location.href = '/product'
        } else if (code === 2001) {
          window.alert('添加失败了')
        }
      }
    })
  })
</script>
{% endblock %}

